<%- include('../_shared/header'); -%>

<h1>Detail de <%= product.name %></h1>
<a href="/product">Retourner à la liste des produits</a>

<p><%= product.desc %></p>
<p>
    <% if(product.soldePrice) { %>
        <span class="solde"><%= product.price %></span> - <%= product.soldePrice %>
    <% } else { %>
        <%= product.price %>
    <% } %>
</p>

<%- include('../_shared/footer'); -%>